body
{
  background-color: gray;
  color: beige;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

img
{
  width: 260px;
  height: 200px; 
}
.content
{
  margin: 0 5%;
}
.card
{
  width: 17.5rem; 
  height: 29rem;
  display: inline-flex;
  margin: 5px 2px;
  
}
footer
{
  background-color: #ccc;
  color: #333;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}